<div class="navbar">
    <nav>
        <a href="/static">home</a>
        <a href="/static/realtimeproducts">realtimeproducts</a>
        <a href="/static/products">products</a>
        <a href="/static/register">register</a>
        <a href="/static/messages">messages</a>
    </nav>
</div>